*{
    margin: 0px;
    padding: 0px;
}
body{
  background-color:#F5F8FF;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    width: 100%;
}

.logo-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 50px;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #4E47FF;
    font-size: 34px;
    margin-top: 40px;
  }
  
.raleway-btn {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 16px;
    
  }
 
  .btn{
    background-color: #4E47FF;
    border-radius: 5px;
    border:1px solid #4E47FF;
    padding: 10px;
    color:white;
    margin-top: 40px;
    transition: 1s;
  }
  .btn:hover{
    color: #4E47FF;
    background-color: white;
    border: 1px solid #4E47FF;
    transition: 1s;
  }
.banner-description{
    text-align:center;
    margin-top: 250px;
}
  .raleway-banner{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 65px;
  }  
  /* ***********************************************************************
  nav and header section end
  
  ***************************************************************************/
  .action{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 100px;
  }
  .raleway-action{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 42px;
  }  
  .raleway-action-para{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-size: 24px;
    color: #696777;
  }  
.right img{
    width: 100%;
    border-radius: 48px;
    
}
/*********************************************************************
 action section end
**********************************************************************/
.productive{
  width: 1140px;
  height: 306px;
  background-color: #dff4f8;
  border-radius: 24px;
  margin: 50px auto;
}
.product-title{
  text-align: center;
  padding:50px;
  font-size: 38px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.data{
  display: flex;
  justify-content: space-around;
}
.data-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  color: #4E47FF;
  font-size: 80px;
  text-align: center;
}
.data-subtitle{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  color: #838080;
  font-size: 20px;
  text-align: center;
}
/* ***********************************************************************
  productive section end
  
  ***************************************************************************/

.user-review{
 
 margin: 50px auto;
}

.cart{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  gap:10px;
}
.cart-single{
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}
.user{
    display: flex;
    gap: 15px;

  }
.review-text h3{
  color: black;
  margin-bottom: 20px;
  margin-top: 10px;
  }
.review-text p{
  color: #838080;
  margin-bottom: 20px;
  }
.user img{
  border-radius: 50%;
  }
.name h4{
  color: #838080;
  }
.name p{
  color: #b6b4b4;
  }
  /* ***********************************************************************
  user review section section end
  
  ***************************************************************************/

.ready-to-focus{
  width: 1140px;
  height: 696px;
  background-color: white;
  margin: 0px auto;
  align-items: center;
  text-align: center;
}
.ready-to-focus h1{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 40px 0px 20px 0px;
}
.ready-to-focus p{
  font-size: 16px;
  color:#838080;
  padding: 10px;
}
.ready-to-focus img{
  display: block;
  margin: 0px auto;
  width: 840px;
  height: 364px;
  border-radius: 48px;
}
.raleway-btn-free {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 16px;
  
}

.btn-get{
  background-color: #4E47FF;
  border-radius: 5px;
  border:1px solid #4E47FF;
  padding: 10px;
  color:white;
  margin-top: 20px;
  transition: 1s;
  margin-bottom: 10px;
}
.btn-get:hover{
  color: #4E47FF;
  background-color: white;
  border: 1px solid #4E47FF;
  transition: 1s;
}
  /* ***********************************************************************
  ready  section end
  
  ***************************************************************************/

.get-in-touch{
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0px;
}
.text h1{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 97px;
  max-width: 500px;
}

.lebelemail{
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.lebel{
  font-weight: bold;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
}
input[type=submit]{
  background-color: #4E47FF;
  border-radius: 5px;
  border:1px solid #4E47FF;
  padding: 10px;
  color:white;
  margin-top: 20px;
  transition: 1s;
  margin-bottom: 10px;
  width: 100%;
}
input[type=submit]:hover{
  background-color: white;
  border-radius: 10px;
  border:1px solid #4E47FF;
  padding: 10px;
  color:#4E47FF;
  margin-top: 20px;
  transition: 1s;
  margin-bottom: 10px;
  width: 100%;
}
  /* ***********************************************************************
  get in touch  section end
  
  ***************************************************************************/
  .footer{
    width: 100%;
    height: 428px;
    background-color: white;
  }
.footer h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #4E47FF;
    font-size: 100px;
    text-align: center;
    padding: 50px 0px 10px 0px;
  }
.footer p{
    text-align: center;
    color: #8987A1;
    font-size: 16px;
    margin-bottom: 30px;

  }
.link{
  padding: 0px 450px;
}
.link ul{
  display: flex;
  justify-content: space-around;
  }
.link ul li{
    list-style: none;
    
  }
.link ul li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 20px;
  }